.App {
  text-align: center;
  padding: 50px;
  box-sizing: border-box;
}

.App button{display: block; width: 100%; background: rgb(243, 190, 17); color: #fff; border: none; padding: 7px; margin-bottom: 30px;}
.App .cnt{background: rgb(243, 220, 17); padding: 7px;}
.App span{display: block; font-size: 24px; padding: 20px auto;}
.App input{width: 100%; padding: 7px; box-sizing: border-box;}